html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0%;
  font-family: AmazDooMLeft;
  background-image: url("assets/Netherrealm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 500%;
  margin-bottom: 0%;
  color: #e7000c;
}

h2 {
  font-size: 400%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: #e7000c;
}

h3 {
  font-size: 300%;
  margin-top: 0%;
  color: #e7000c;
}

button {
  cursor: pointer;
  background-color: #3f4244;
  color: #e7000c;
  font-family: inherit;
}

button:hover {
  background-color: #e7000c;
  color: #3f4244;
}

.player-token {
  width: 150px;
  height: 150px;
  margin-top: 20%;
}

.player-section {
  width: 20%;
  height: 100%;
}

.change-game-button {
  width: 120px;
  height: 100px;
  margin-top: 0%;
  font-size: 225%;
  border-radius: 5%
}

.change-game-button-text {
  margin: 5%;
  margin-top: 10%
}

.mode-title {
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 130%;
}

.choose-game-view {
  width: 60%;
  height: 100%;
}

.button-section {
  justify-content: space-evenly;
  width: 35%;
  height: 65%;
}

.choose-game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: inherit;
  font-size: 180%;
  width: 100%;
  height: 60%;
  margin: 10%;
  border-radius: 5%;
}

.fighters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 850px;
  height: 200px;
  margin-top: 15%;
}

.advanced-fighters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
  height: 600px;
  margin-top: 0%;
}

.fighter-icons {
  width: 300px;
  height: 250px;
  margin: 3%;
  cursor: pointer;
}

.advanced-fighter-icons {
  width: 225px;
  height: 220px;
  margin: 3%;
  cursor: pointer;
}

.player-vs-cpu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result {
  width: 200px;
  height: 200px;
}

.hidden {
  visibility: hidden;
}
